.chat-popover {
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.chat-popover.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.chat-messages::-webkit-scrollbar {
  width: 6px;
}

.chat-messages::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background: #7565D9;
  border-radius: 3px;
}

.participants-list::-webkit-scrollbar {
  width: 6px;
}

.participants-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.participants-list::-webkit-scrollbar-thumb {
  background: #7565D9;
  border-radius: 3px;
}