.intervue-btn {
  background-color: #7565d9 !important;
  color: white !important;
}

.continue-btn {
  background-color: #7565d9 !important;
  color: white !important;
  padding: 10px 30px !important;
} 